@{
    ViewBag.Title = "Thông tin đề án";
}

<div class="jumbotron">
    <h1>Nhà Sách </h1>
    <p>Sách nổi tiếng </p>
    <br />
    <p><a href="https://www.facebook.com/voquang.duy.3/" class="btn btn-primary btn-lg">FACEBOOK</a></p>
</div>