
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3>Đơn hàng đã được xác nhận! Bạn sẽ nhận thông tin vận chuyển về sản phẩm sớm nhất!</h3>
<br/>
<h5 class="text-primary">
    @Html.ActionLink("Về Trang Chủ","Index","BookStore")
</h5>

